	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
	
	<link href="css/bootstrap.min.css"
	        rel="stylesheet"></link>
	        <script src="js/jquery.js"></script>
		        <script src="js/bootstrap.min.js"></script>
	<link href="css/home.css" type="text/css" rel="stylesheet"></link>
	
    <title>Home Page</title>
</head>
<body>
<div class="top_bar"></div>
<div class="logo_bar col-xs-12"><img src="img/tim.jpg" /></div>
<div class="navigation_bar col-xs-12">Benvenuti nel portale di supporto di TIM Digital Store</div>
<div class="scroll_image_bar hidden-xs"  >Da inserire l'immagine grande</div>
<div class="main_body">

<div class="container bootstrap snippet">
 <div class="row">
    <div class="col-sm-2 col-xs-12"></div>
     
    <div class="col-sm-8">
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    
                    <div class="card" style="width: 12rem; height: 16rem; text-align: center;">
                        <div class="card-body">
                            <div class="tile blue">
                                <h3 class="title">BOX 1</h3>
                                <p>BOX 1</p>
                            </div>
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 col-xs-12">
                    
                    <div class="card" style="width: 12rem; height: 16rem; text-align: center;">
                        <div class="card-body">
                            <div class="tile blue">
                                <h3 class="title">BOX 2</h3>
                                <p>BOX 2</p>
                            </div>
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 col-xs-12">
                    
                    <div class="card" style="width: 12rem; height: 16rem; text-align: center;">
                        <div class="card-body">
                            <div class="tile blue">
                                <h3 class="title">BOX 3</h3>
                                <p>BOX 3</p>
                            </div>
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>    
    </div>
     
    <div class="col-sm-2"></div>    
  </div>
</div>

</div>

<div class="bottom_bar"></div>
</body>
</html>