div.top_bar{
    height: 40px;
    background-color: RGB(7, 72, 138);
}

div.logo_bar{
    height: 58px;
}

div.navigation_bar{
    height: 46px;
    background-color: RGB(240, 240, 240);
    color: RGB(0, 120, 193);
}

div.scroll_image_bar{
    height: 306px;
    background-color: RGB(20, 20, 20);
    color: white;
}

.logo{
    height: 100%;
    width: 100%;
	margin: 0px;
}


div.main_body{
    margin: 0px;
    padding: 20px;
    width: 100%;
}

div.bottom_bar{
    background-color: RGB(7, 72, 138);
	color: #FFFFFF;
}

.tile {  
    width: 120px;
    height: 120px;
	background: #fff;		
	margin-bottom: 30px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.blue {
    color: white;
    background-color: #2672EC;
}

.blue:hover {
	background-color: RGB(0, 120, 193);
}

.card:hover{
    border-color: RGB(0, 120, 193);

}

i.question{
	color: white;
	font-size: 2em;
}



.question_col{
	margin: 15px;
	display: inline-flex;
}

.help{
	text-align: center;
}

