div.top-bar{
    height: 40px;
    background-color: RGB(7, 72, 138);
}

div.logo-bar{
    height: 58px;
}

div.navigation-bar{
    height: 46px;
    background-color: RGB(240, 240, 240);
    color: RGB(0, 120, 193);
}

div.top-image{
    height: 306px;
    background-color: RGB(20, 20, 20);
    color: white;
}

.logo{
    height: 100%;
    width: 100%;
	margin: 0px;
}

div.bottom-bar {
    background-color: RGB(7, 72, 138);
	color: #FFFFFF;
}

.card {
	width: 220px;
}

.card {
    border-color: RGB(217, 217, 217);
}
.card:hover {
    border-color: RGB(0, 120, 193);
    cursor: pointer;
}

.blue-square {
    color: #FFFFFF;
    background-color: #2672EC;
    padding: 40px;
}

.card:hover .blue-square {
	background-color: RGB(0, 120, 193);
}

#cardList {
	justify-content: center;
}

@font-face {
    font-family: tim-font;
    src: url(/font/TIMSans-Light.ttf);
}

div.navigation-bar{
    font-family: tim-font;
}
h3{
	font-family: tim-font;
}
div.card-column{
	font-family: tim-font;
}
.card-title{
	font-family: tim-font;
}
.card-subtitle{
	font-family: tim-font;
}
div.bottom-bar{
	font-family: tim-font;
}

