@font-face {
    font-family: TIMSans-Light;
    src: url(/css/font/TIMSans-Light.ttf);
}

#logo-tim{
	width: auto;
	height: 26px;
}

body {
    font-family: TIMSans-Light;
}

div.top-bar{
    height: 40px;
    background-color: RGB(7, 72, 138);
    line-height: 58px;
}

div.logo-bar{
    line-height: 58px;
}

div.navigation-bar{
    height: 46px;
    background-color: RGB(240, 240, 240);
    color: RGB(0, 120, 193);
    line-height: 46px;
}

div.top-image{
    height: 306px;
    background-color: RGB(20, 20, 20);
    color: white;
}

div.bottom-bar {
    background-color: RGB(7, 72, 138);
	color: #FFFFFF;
}

.card {
	width: 160px;
}

.card {
    border-color: RGB(217, 217, 217);
}
.card:hover {
    border-color: RGB(0, 120, 193);
    cursor: pointer;
}

.blue-square {
    color: #FFFFFF;
    background-color: #2672EC;
    padding: 25px;
}

.card:hover .blue-square {
	background-color: RGB(0, 120, 193);
}

#cardList {
	justify-content: center;
}

.card-column {
    margin: 10px;
}

@include media-breakpoint-up(sm) {
  div.navigation-bar {
    font-size: 10px;
	}
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

