<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/custom.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<link href="css/style.css" type="text/css" rel="stylesheet" />
		<link href="css/font/fontawesome-all.min.css" rel="stylesheet" />
		<title>Home Page</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 top-bar"></div>
			</div>
			<div class="row">
				<div class="col-12 text-left logo-bar ">
					<img src="img/tim.jpg" />
				</div>
			</div>
			<div class="row navigation-bar">
				<div class="col-6 text-left">
					Benvenuti nel portale di supporto di TIM Digital Store
				</div>
				<div class="col-6 text-right" id="backButton">
					<a href="#"><i class="fas fa-angle-left"></i>Torna indietro</a>
				</div>
			</div>
			<div class="row d-xs-none d-md-flex">
				<div class="col-12 top-image">
					<img class="logo" src="img/Home.png"/>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<h3>Di che cosa hai bisogno?</h3>
				</div>
			</div>
			
			<div class="row" id="cardList"></div>
			
			<div class="row bottom-bar">
				<div class="col-6 text-left">Copyright</div>
				<div class="col-6 text-right">P.IVA</div>
			</div>
		</div>
	</body>
</html>

