<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
		
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<link href="css/home.css" type="text/css" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		<title>Home Page</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 top-bar"></div>
			</div>
			<div class="row">
				<div class="col-12 text-left logo-bar ">
					<img src="img/tim.jpg" />
				</div>
			</div>
			<div class="row navigation-bar">
				<div class="col-6 text-left">
					Benvenuti nel portale di supporto di TIM Digital Store
				</div>
				<div class="col-6 text-right">
					<a href="#">Torna indietro</a>
				</div>
			</div>
			<div class="row">
				<div class="col-12 top-image">
					<img class="logo" src="img/Home.png"/>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<h3>Di che cosa hai bisogno?</h3>
				</div>
			</div>
			<div class="row">
                <div class="offset-3 col-2">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="blue-square">
                                <h3 class="title"><i class="fa fa-wrench"></i></h3>
                            </div>
                            <h5 class="card-title">Risposta</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Spiegazione</h6>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="blue-square">
                                <h3 class="title"><i class="fa fa-shopping-cart"></i></h3>
                            </div>
                            <h5 class="card-title">Risposta</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Spiegazione</h6>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="blue-square">
                                <h3 class="title"><i class="fa fa-info"></i></h3>
                            </div>
                            <h5 class="card-title">Risposta</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Spiegazione</h6>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="row bottom-bar">
				<div class="col-6 text-left">Copyright</div>
				<div class="col-6 text-right">P.IVA</div>
			</div>
		</div>
	</body>
</html>

