	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
	
	<link href="css/bootstrap.min.css"
	        rel="stylesheet"></link>
	        <script src="js/jquery.js"></script>
		        <script src="js/bootstrap.min.js"></script>
	<link href="css/home.css" type="text/css" rel="stylesheet"></link>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	
    <title>Home Page</title>
</head>
<body>
<div class="top_bar"></div>
<div class="logo_bar"><img src="img/tim.jpg" /></div>
<div class="navigation_bar">Benvenuti nel portale di supporto di TIM Digital Store</div>
<div class="scroll_image_bar"><img class="logo" src="img/Home.png"/></div>
<div class="main_body">

<div class="container bootstrap snippet">
 <div class="row">
    <div class="col-2"></div>
     
    <div class="col-8" style="text-align:center;">
                <div class="question_col">
                    
                    <div class="card question_card">
                        <div class="card-body">
                            <div class="tile blue">
                                <h3 class="title"><i class="question fa fa-wrench"></i></h3>
                            </div>
                            <h5 class="card-title">Risposta</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Spiegazione</h6>
                        </div>
                    </div>

                </div>
                <div class="question_col">
                    
                    <div class="card question_card">
                        <div class="card-body">
                            <div class="tile blue">
                                <h3 class="title"><i class="question fa fa-shopping-cart"></i></h3>
                            </div>
                            <h5 class="card-title">Risposta</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Spiegazione</h6>
                        </div>
                    </div>

                </div>
                <div class="question_col">
                    
                    <div class="card question_card">
                        <div class="card-body">
                            <div class="tile blue">
                                <h3 class="title"><i class="question fa fa-info"></i></h3>
                            </div>
                            <h5 class="card-title">Risposta</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Spiegazione</h6>
                        </div>
                    </div>

                </div>
            </div>
     
    <div class="col-2"></div>    
  </div>
</div>

</div>

<div class="bottom_bar">
	<div class="row">
	<div class="col-6">Copyright</div>
	<div class="col-6" style="text-align:right;">P.IVA</div>
	</div>
</div>
</body>
</html>