<div class='col-12'>	
	<form id='form' action='/sendEmail' method='POST' onsubmit='return formValidation()'>
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group'>
			 	<label for='telefono'>IL TUO NUMERO TELEFONICO<span class='mandatoryField'>*</span></label> 
				<input type='text' class='form-control' name='telefono' id='telefono'>
			</div>
		</div>
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group'>
			 	<h6>IN QUALE FASCIA ORARIA PREFERISCI ESSER CONTATTATO?<span class='mandatoryField'>*</span></h6>
			 	<div class='form-check'>
			 		<input class='form-check-input' type='checkbox' value='il prima possibile' name='fasciaOraria' id='fasciaOraria0'>
			 		<label class='form-check-label' for='fasciaOraria0'>
			 			Il prima possibile
			 		</label>
			 	</div>
			 	<div class='form-check'>
			 		<input class='form-check-input' type='checkbox' value='9.00 - 12.00' name='fasciaOraria' id='fasciaOraria1' checked='checked' />
			 		<label class='form-check-label' for='fasciaOraria1'>
			 			9.00 - 12.00
			 		</label>
			 	</div>
			 	<div class='form-check'>
			 		<input class='form-check-input' type='checkbox' value='12.00 - 15.00' name='fasciaOraria' id='fasciaOraria2' checked='checked' />
			 		<label class='form-check-label' for='fasciaOraria2'>
			 			12.00 - 15.00
			 		</label>
			 	</div>
			 	<div class='form-check'>
			 		<input class='form-check-input' type='checkbox' value='15.00 - 18.30' name='fasciaOraria' id='fasciaOraria3' checked='checked' />
			 		<label class='form-check-label' for='fasciaOraria3'>
			 			15.00 - 18.30
			 		</label>
			 	</div>
		  	</div>
		</div>
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-check'>
				<div><span id='fasciaOrariaError' ></span></div>
			</div>
		</div>	
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group'>
			  	<label for='richiesta'>A COSA SEI INTERESSATO?<span class='mandatoryField'>*</span></label>
			  	<textarea class='form-control' name='richiesta' id='richiesta' rows='4' data-required='true'></textarea>
			</div>
		</div>
		<div class='row'>
			<div class='col-12 text-center'>
				<h6>HAI LETTO ED ACCETTI L'INFORMATIVA PRIVACY<span class='mandatoryField'>*</span></h6>
				<div class='form-check form-check-inline'>
					<input class='form-check-input' type='radio' name='privacyPolicy' value='yes' />
					<label class='form-check-label'>SI</label>
				</div>
				<div class='form-check form-check-inline'>
					<input class='form-check-input' type='radio' name='privacyPolicy' value='no' checked='checked' />
					<label class='form-check-label'>NO</label>
				</div>
				<div class='form-check form-check-inline'>
					<a href='#privacyPdf#' target='_BLANK'>Informativa Privacy</a>
				</div>
			</div>
		</div>	
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group form-check'>
				<div><span id='privacyPolicyError' ></span></div>
			</div>
		</div>	
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group text-center'>
		  	 	<div id='captcha' class='g-recaptcha'></div>
			</div>
		</div>
		<div class='row'>
		  	<div class='col-12 text-center form-group'>
			  <input type='submit' id='continue' class='btn btn-danger' value='Continua' />
			</div>
		</div>
		<div class='row'>
			<div class='col-12 text-left form-group'>
		  		<span class='mandatoryField'>*</span>campi obbligatori
			</div>
		</div>
		<input type='hidden' id='privacy-yes' name='privacy-yes' value='yes' />
		<input type='hidden' id='form-type' name='form-type' value='form4' />
		<input type='hidden' id='bcc' name='bcc' value='#bcc#' />
		<input type='hidden' id='emailTo'  name='emailTo' value='#email#' />
		<input type='hidden' id='callback'  name='callback' value='#callback#' />
	</form>
	<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async='async' defer='defer'></script>
	<script src='js/jquery.form.js'></script>
	
	<script>
	validazione();
	</script>
</div>