<div class="col-12">	
	<form id="form" action="/sendEmail" method="POST" onsubmit="return formValidation()">
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 text-center">
				<h3>Ti Richiamiamo Noi!</h3>
				<h5>Scrivici a cosa sei interessato, ti faremo contattare il prima possibile da un nostro esperto sul tema di tuo interesse.</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
			 	<label for="telefono">IL TUO NUMERO TELEFONICO<span class="mandatoryField">*</span></label> 
				<input type="text" class="form-control" name="telefono" id="telefono">
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
			 	<label for="fasciaOraria">IN QUALE FASCIA ORARIA PREFERISCI ESSER CONTATTATO?<span class="mandatoryField">*</span></label>
			  	<input type="checkbox" name="fasciaOraria" class="form-control" id="fasciaOraria" value="00:00">Il prima possibile
			  	<input type="checkbox" name="fasciaOraria" class="form-control" id="fasciaOraria" value="09:00">9.00 - 12.00
			  	<input type="checkbox" name="fasciaOraria" class="form-control" id="fasciaOraria" value="12:00">12.00 - 15.00
			  	<input type="checkbox" name="fasciaOraria" class="form-control" id="fasciaOraria" value="15:00">15.00 - 18.30
		  	</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
			  	<label for="richiesta">A COSA SEI INTERESSATO?<span class="mandatoryField">*</span></label>
			  	<textarea class="form-control" name="richiesta" id="richiesta" rows="4"></textarea>
			</div>
		</div>
		<div class="row">
			<div class='col-12 text-center form-group'>
				<label>HAI LETTO ED ACCETTI L'INFORMATIVA PRIVACY<span class="mandatoryField">*</span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center form-group">
				<input type="radio" name="privacyPolicy" value="yes" /><span>SI</span>
				<input type="radio" name="privacyPolicy" value="no" checked="checked"/><span>NO</span>
				<a href="www.google.it" target="_BLANK">Informativa Privacy</a>
				<div><span id="privacyPolicyYes" ></span></div>
			</div>
		</div>	
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
		  	 	<div id="captcha" class="g-recaptcha" data-sitekey="6LdUMUcUAAAAAFx2RjyRUUAu6_Q6mRhNJYlHJh_G" data-callback="captchaCallback" data-expired-callback="captchaExpiredCallback"></div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-12 text-center form-group">
			  <input type="submit" id="continue" class="btn btn-danger" value="Continua" />
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-left form-group">
		  		<span class="mandatoryField">*</span>campi obbligatori
			</div>
		</div>
		<input type="hidden" id="privacy-yes" name="privacy-yes" value="yes" />
		<input type="hidden" id="bcc" name="bcc" value="#bcc#" />
		<input type="hidden" id="cc"  name="cc" value="#cc#" />
	</form>
	<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
	<script src="js/jquery.form.js"></script>
	
	<script>
	validazione();
	</script>
</div>