<div class='col-12'>	
	<div class='row'>
		<div class='col-12 col-md-6 offset-md-3 text-center'>
			<h6>Grazie per averci contattato.</h6>
			<h6>Ti risponderemo appena possibile.</h6>
	    </div>
    </div>
	<div class='row'>
		<div class='col-sm-12 col-md-6 pt-2 text-center'>
		 	<a class='btn btn-danger' href='/'>Vai alla HOME del Supporto</a>
		</div>
		<div class='col-sm-12 col-md-6 pt-2 text-center'>
		 	<a class='btn btn-danger' href='http://supporto.digitalstore.tim.it'>Torna su TIM Digital Store</a>
		</div>
	</div>
</div>