<div class="col-12">	
	<form id="form-registrazione">
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 text-center">
				<h3>Supporto TIM Digital Store tramite email.</h3>
				<h5>Fai una domanda al supporto ti risponderemo il prima possibile</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
				<label for="email">Email <span style="color:#FF0000">*</span></label> 
			 	<input type="email" name="email" class="form-control" placeholder="#email#" id="email">
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
			 	<label for="cf-iva">CF O PIVA <span style="color:#FF0000">*</span></label>
			  	<input type="text" name="codiceFiscale" class="form-control" id="codiceFiscale">
		  	</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
			 	<label for="telefono">IL TUO CONTATTO TELEFONICO </label> 
				<input type="text" class="form-control" id="telefono">
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
			  	<label for="textArea">SCRIVI QUI LA TUA RICHIESTA <span style="color:#FF0000">*</span></label>
			  	<textarea class="form-control" id="problema" rows="4"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
		  	 	<div class="g-recaptcha" data-sitekey="6LdUMUcUAAAAAFx2RjyRUUAu6_Q6mRhNJYlHJh_G" data-callback="onloadCallback"></div>
			</div>
		</div>
			<div class="row">
				<div class='col-12 text-center form-group'>
					<label>La compilazione di questo form autorizza il trattamento dei dati personali ai sensi del <a href="http://www.garanzia3.it/areadownload/PrivacyInformativaIT.pdf">D.Lgs 196/03</a></label>
					<p id="error-mess"></p>
				</div>
			</div>
		<div>
			<div class="col-12 text-center form-group">
				<input type="radio" name="policy" value="si" id="yes"/>ACCETTO
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center form-group">
				<input type="radio" name="policy" value="no" id="no" checked="checked"/>NON ACCETTO
			</div>
		</div>	
		<div class="row">
		  	<div class="col-12 text-center form-group">
			  <button type="submit" id="continue" class="btn btn-primary">Continua</button>
			</div>
		</div>
	</form>
	<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
</div>