<div class='col-12'>	
	<form id='form' action='/sendEmail' method='POST' onsubmit='return formValidation()'>
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group'>
			 	<label for='name'>NOME<span class='mandatoryField'>*</span></label>
			  	<input type='text' name='name' class='form-control' id='name'>
		  	</div>
		</div>
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group'>
			 	<label for='surname'>COGNOME<span class='mandatoryField'>*</span></label>
			  	<input type='text' name='surname' class='form-control' id='surname'>
		  	</div>
		</div>
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group'>
			 	<label for='cf-iva'>PIVA o CF<span class='mandatoryField'>*</span></label>
			  	<input type='text' name='codiceFiscale' class='form-control' id='codiceFiscale'>
		  	</div>
		</div>
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group'>
				<label for='ragioneSociale'>RAGIONE SOCIALE<span class='mandatoryField'>*</span></label> 
			 	<input type='text' name='ragioneSociale' class='form-control' id='ragioneSociale'>
			</div>
		</div>
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group'>
				<label for='email'>EMAIL<span class='mandatoryField'>*</span></label> 
			 	<input type='email' name='email' class='form-control' id='email'>
			</div>
		</div>
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group'>
			 	<label for='telefono'>CONTATTO TELEFONICO<span class='mandatoryField'>*</span></label> 
				<input type='text' class='form-control' name='telefono' id='telefono'>
			</div>
		</div>
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group'>
			  	<label for='richiesta'>SCRIVI QUI LA TUA RICHIESTA<span class='mandatoryField'>*</span></label>
			  	<textarea class='form-control' name='richiesta' id='richiesta' rows='4' data-required='true'></textarea>
			</div>
		</div>
		<div class='row'>
			<div class='col-12 text-center form-group'>
				<label>HAI LETTO ED ACCETTI L'INFORMATIVA PRIVACY<span class='mandatoryField'>*</span></label>
			</div>
		</div>
		<div class='row'>
			<div class='col-12 text-center form-group'>
				<input type='radio' name='privacyPolicy' value='yes' /><span>SI</span>
				<input type='radio' name='privacyPolicy' value='no' checked='checked'/><span>NO</span>
				<a href='www.google.it' target='_BLANK'>Informativa Privacy</a>
			</div>
		</div>	
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group form-check'>
				<div><span id='privacyPolicyError' ></span></div>
			</div>
		</div>	
		<div class='row'>
			<div class='col-12 col-md-6 offset-md-3 form-group text-center'>
		  	 	<div id='captcha' class='g-recaptcha' data-sitekey='6LdUMUcUAAAAAFx2RjyRUUAu6_Q6mRhNJYlHJh_G' data-callback='captchaCallback' data-expired-callback='captchaExpiredCallback'></div>
			</div>
		</div>
		<div class='row'>
		  	<div class='col-12 text-center form-group'>
			  <input type='submit' id='continue' class='btn btn-danger' value='Continua' />
			</div>
		</div>
		<div class='row'>
		  	<div class='col-12 text-left form-group'>
		  		<span class='mandatoryField'>*</span>campi obbligatori
			</div>
		</div>
		<input type='hidden' id='privacy-yes' name='privacy-yes' value='yes' />
		<input type='hidden' id='bcc' name='bcc' value='#bcc#' />
		<input type='hidden' id='emailTo'  name='emailTo' value='#email#' />
		<input type='hidden' id='callback'  name='callback' value='#callback#' />
	</form>
	<script src='https://www.google.com/recaptcha/api.js' async='async' defer='defer'></script>
	<script src='js/jquery.form.js'></script>
	
	<script>
	validazione();
	</script>
</div>