<div class="col-12">	
	<form id="form-registrazione" onsubmit="return formValidation()">
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 text-center">
				<h3>Supporto TIM Digital Store tramite email.</h3>
				<h5>Fai una domanda al supporto ti risponderemo il prima possibile</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
				<label for="email">Email <span class="mandatoryField">*</span></label> 
			 	<input type="email" name="email" class="form-control" id="email">
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
			 	<label for="cf-iva">CF O PIVA <span class="mandatoryField">*</span></label>
			  	<input type="text" name="codiceFiscale" class="form-control" id="codiceFiscale">
		  	</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
			 	<label for="telefono">IL TUO CONTATTO TELEFONICO </label> 
				<input type="text" class="form-control" id="telefono">
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
			  	<label for="textArea">SCRIVI QUI LA TUA RICHIESTA <span class="mandatoryField">*</span></label>
			  	<textarea class="form-control" id="problema" rows="4"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 form-group">
		  	 	<div id="captcha" class="g-recaptcha" data-sitekey="6LdUMUcUAAAAAFx2RjyRUUAu6_Q6mRhNJYlHJh_G" data-callback="captchaCallback" data-expired-callback="captchaExpiredCallback"></div>
			</div>
		</div>
		<div class="row">
			<div class='col-12 text-center form-group'>
				<label>ATTESA TESTO <a href="#">D.Lgs 196/03</a></label>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center form-group">
				<input type="radio" name="privacyPolicy" value="no" checked="checked"/><span>NON ACCETTO</span>
				<input type="radio" name="privacyPolicy" value="yes" /><span id="privacyPolicyYes" >ACCETTO</span>
			</div>
		</div>	
		<div class="row">
		  	<div class="col-12 text-center form-group">
			  <input type="submit" id="continue" class="btn btn-primary" value="Continua" />
			</div>
		</div>
		<input type="hidden" id="privacy-yes" name="privacy-yes" value="yes" />
		<input type="hidden" id="bcc" name="bcc" value="#bcc#" />
		<input type="hidden" id="cc"  name="cc" value="#cc#" />
	</form>
	<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
</div>