<div class='col-12'>	
<form>
	<div class='row'>
		<div class='col-12 col-md-6 offset-md-3 text-center'>
			 <label for='singleselect' id='label-value'> Seleziona il valore dalla lista 
			 	<div class='row'>
			 	<!-- <select id='singleselect' class='js-data-example-ajax' name='Link'>
			 		<option></option> 
			 	</select>  -->
			 	<select id="select" class="btn btn-primary dropdown-toggle" style="color:white; background-color: #5cb85c; border-color:#4cae4c ">
					        <option value="">Corsi di Laurea</option>
			    </select>
			 	</div>
			  </label>
	    </div>
	</div>
	<div class='row'>
		<div class='col-12 col-md-6 offset-md-3 text-center'>
		 	<button id='button-select' class='btn btn-primary' type='button'>Continua</button>
		</div>
	</div>
</form>
</div>