<form class='col-lg-6 offset-lg-0'>
	<div class='form-group row'>
		 <label for='singleselect' id='label-value' class='form-control'> Seleziona il valore dalla lista 
		 	<select id='singleselect' class='form-control' name='Link'>
		 		<option value='www.tim.it'>Mail Power</option>
		 		<option value='www.tim.it'>TIM Wi-Fi Power</option>
		 		<option value='www.tim.it'>TIM Mail Safe</option>
		 		<option value='www.tim.it'>wiMAN Social Wi-Fi</option>
		 		<option value='www.tim.it'>My Good Client</option>
		 		<option value='www.tim.it'>Kaspersky Small Office Security</option>
		 		<option value='*'>LMP</option>
		 		<option value='*'>VirtualTour e Tourmake</option>
		 		<option value='*'>mobyx</option>
		 		<option value='*'>bitgo</option> 
		 	</select> 
		  </label>
	</div>
	<div class='form-group row justify-content-center'>
		 <button id='button' class='btn btn-primary' onclick='window.location.replace(document.redirecturl);' type='button'>Go to Site</button>
	</div>
</form>
 <script type='text/javascript'>
 	var redirecturl='';$('.js-example-basic-single').select2
 	({theme:'classic',placeholder:'...',allowClear:true,'width':'600px'})
 	.on('select2:select',function(e)
 			{
 		var data=e.params.data;
 		if(data.id!=null){
 			$('#button').prop('disabled',false);
 			}else{
 				$('#button').prop('disabled',true);
 			}if(data.id=='*')
 			{
				document.redirecturl=window.location.href;
				}else{
					document.redirecturl=data.id;
					} 
 			console.log(document.redirecturl);}
 	);
 	</script>