<div class="col-12">	
<form>
	<div class='row'>
		<div class="col-12 col-md-6 offset-md-3 text-center">
			 <label for='singleselect' id='label-value'> Seleziona il valore dalla lista 
			 	<div class='row'>
			 	<select id='singleselect' class='js-example-basic-single' name='Link'>
			 		<option></option> 
			 	</select> 
			 	</div>
			  </label>
	    </div>
	</div>
	<div class='row'>
		<div class="col-12 col-md-6 offset-md-3 text-center">
		 	<button id='button-select' class='btn btn-primary' type='button'>Continua</button>
		</div>
	</div>
</form>
</div>